@page
@model MyScriptureJournal.IndexModel

@{
    ViewData["Title"] = "Scriptures";
}

<h1>Scriptures</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        Book:  <input type="text" name="SearchString" value="@Model.CurrentFilter" />
        <input type="submit" value="Search" class="btn btn-primary" /> |
        <a asp-page="./Index">Back to full List</a><br />

        Notes: <input type="text" asp-for="SearchStringNotes" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Scripture[0].Book)
                </a>
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].Chapter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].Verse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].Notes)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort"
                   asp-route-currentFilter="@Model.CurrentFilter" asp-route-currentFilterNote="@Model.CurrentFilterNote">
                    @Html.DisplayNameFor(model => model.Scripture[0].AddedDate)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Scripture)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chapter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Verse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedDate)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.Scriptures.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Scriptures.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Scriptures.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   asp-route-currentFilterNote="@Model.CurrentFilterNote"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Scriptures.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   asp-route-currentFilterNote="@Model.CurrentFilterNote"
   class="btn btn-primary @nextDisabled">
    Next
</a>
